---
layout: page
title: Projects
---

<h1 class="title">📦{{ page.title }}</h1>
<section class="list">
    {% for post in site.my-projects %}
        <div class="item {% if post.star %}star{% endif %}">
            <a class="url"
                href="{{ site.url }}{{ post.url }}">
                <aside style="font-size:medium"><time
                        datetime="{{ post.date | date:"%Y-%d-%m" }}">{{ post.date | date: "%Y, %b %d" }}</time>
                </aside>
                <h3 class="title">{{ post.title }}</h3>
            </a>
        </div>
        <hr>
    {% endfor %}
</section>