---
layout: page
title: Tags
permalink: /tags/
---

{% assign alltags = site.documents | map: 'tags' | uniq %}

<section id="page-title" class="list">
    <h1 class="title">Tags</h1>
        {% for tag in alltags %}
            <a href="#{{ tag[0] | slugify }}" class="item">
                {{ tag[0] }}&nbsp;({{ tag.size }})
            </a>
        {% endfor %}
</section>

<hr>

<section class="tag-list">
    {% for tag in alltags  %}
    <h2 id="{{ tag[0] | slugify }}" class="linked-section">
        #{{ tag[0] }}&nbsp;({{ tag.size }})
	</h2>
	<ul class="list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list reversed %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
                    <li class="item">
                        <a class="url" href="{{ site.url }}{{ post.url }}">
                            <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                            <h3 class="title">{{ post.title }}</h3>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
	<a href="#page-title"  class="tag-entry" style="display: block;
				     font-size: 0.8em; text-align: right;
				     text-transform: uppercase;
				     text-decoration: none;">
		Back to Top &uarr;
	</a>

    <div class="breaker"></div>
    {% endfor %}
</section>

{% assign alltags = nil %}
