---
layout: page
title: Tags
permalink: /tags/
---

{% assign alltags = site.documents %}		
{% assign grouptag =  alldocs | map: 'tags' | uniq %}

<section id="page-title" class="list">
    <h1 class="title">Tags</h1>
    {% if grouptag.first[0] == null %}
        {% for tag in grouptag %}
            <a class="item" href="#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    {% else %}
        {% for tag in grouptag %}
            <a href="#{{ tag.name }}" class="btn btn-primary">
                {{ tag.name }}&nbsp;({{tag.size}})
            </a>
        {% endfor %}
    {% endif %}

</section>

<hr>

<section class="tag-list">
    {% for tag in grouptag  %}
    <h2 id="{{ tag.name }}" class="linked-section">
        {{ tag.name }}&nbsp;({{tag.size}})
	</h2>
	<div class="post-list">
		{% for document in alltags %}
		{% if document.tags contains tag.name %}
		<div class="tag-entry">
			<a href="{{ site.url }}{{ document.url }}">{{ document.title }}</a>
			<div class="entry-date">
				<time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: "%B %d, %Y" }}</time>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<a href="#page-title"  class="tag-entry" style="display: block;
				     font-size: 0.8em; text-align: right;
				     text-transform: uppercase;
				     text-decoration: none;">
		Back to Top &uarr;
	</a>

    <div class="breaker"></div>
    {% endfor %}
</section>
