$primary: #DEB887;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Consolas", Liberation Mono, Menlo, Courier, monospace;

$navbar-dark-color: $primary;
$navbar-dark-hover-color: rgba($black, .5);