{% if page.title == "Home"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if site.about %}
    <a class="link" href="{{ site.url }}/about">
        <img class="selfie" alt="{{ site.name }}"
            src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>
    {% else %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}"
            src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </span>
    {% endif %}

    <h2 class="title">{{ site.name }}</h2>
    <h3 class="description">{{ site.bio }}</h3>

    {% include social-links.html %}
</header>
{% include nav.html %}

{% else %}
<header>
    {% include nav.html %}
</header>
{% endif %}
