
{% if page.title == "Design System" or page.title == "Good Stories" or page.title == "Design System Libraries" %}
<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark bd-navbar border-bottom d-flex">
    
    <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Desgin System"><i class="fas fa-pencil-ruler" style="width:3rem; height: 3rem"></i></a>
    <div class="navbar-nav-scroll ml-md-auto flex-row pr-3" id="mainMenu">

        <ul class="navbar-nav flex-row d-md-flex">
            {% if site.blog == true %}
                {% if page.title != "Design System Libraries" %}
            <li class="nav-item pr-2">
                <a class="nav-link" href="{{ site.url }}/design-system/ds-libraries">Design System Libraries</a>
            </li>
                {% endif %}
            {% endif %}

            {% if site.blog == true %}
                {% if page.title != "Good Stories" %}
            <li class="nav-item pr-2">
                <a class="nav-link" href="{{ site.url }}/design-system/good-stories">Good Stories</a>
            </li>
                {% endif %}
            {% endif %}

            <li class="nav-item pr-2">
                <a class="nav-link" href="{{ site.url }}/">My portfolio</a>
            </li>
        </ul>
    </div>

</nav>
{% else %}
<nav class="{% if page.title == "Home" %}nav-home{% else %}nav-page {% endif %}">     
    <ul class="list">
        {% if page.title != "Home" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/">🏠Home</a>
        </li>
        {% endif %}

        {% if site.blog == true %}
        {% if page.title != "Blog" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/blog">Blog</a>
        </li>
        {% endif %}
        {% endif %}

        {% if site.projects == true %}
        {% if page.title != "Projects" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/projects">Projects</a>
        </li>
        {% endif %}
        {% endif %}

        {% if site.design-system == true %}
        {% if page.title != "Design System" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/design-system">Design System</a>
        </li>
        {% endif %}
        {% endif %}

        {% if site.about == true %}
        {% if page.title != "About" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/about">About me</a>
        </li>
        {% endif %}
        {% endif %}

        <!--
            {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
            {% endif %}
        -->
    </ul>
</nav>
{% endif %}

