<div class="pagination">
    {% assign previous_page = paginator.previous_page %}
    {% if previous_page %}
        <a href="{% if previous_page.externalLink %}{{ previous_page.externalLink }}{% else %}{{ site.url }}{{ previous_page.url }}{{endif}}" class="previous">«</a>
    {% else %}
        <span class="previous hidden">«</span>
    {% endif %}
    {% assign previous_page = nil %}

    <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% assign next_page = paginator.next_page %}
    {% if next_page %}
        <a href="{% if next_page.externalLink %}{{ next_page.externalLink }}{% else %}{{ site.url }}{{ next_page.url }}{{endif}}" class="next">»</a>
    {% else %}
        <span class="next hidden">»</span>
    {% endif %}
    {% assign next_page = nil %}
</div>
