.page

    > h1
        text-align: center
        margin-bottom: 6rem
    > ul,
    > ol
	    li
		    line-height: 2.4rem
		    font-weight: 300
		    color: $alpha

.about
    img
        width: 50%
        margin: 0 auto
        display: block
