.page

    > h1
        text-align: center
        margin-bottom: 6rem

.about
    img
        width: 50%
        margin: 0 auto
        display: block

.story-card
    border-radius: 6px
    background: #fff
    -webkit-box-shadow: 0 1px 1px 1px rgb(10 16 34 / 8%)
    box-shadow: 0 1px 1px 1px rgb(10 16 34 / 8%)
    color: black
    cursor: pointer
    position: relative
    -webkit-transition: -webkit-transform .2s ease,-webkit-box-shadow .2s ease
    transition: -webkit-transform .2s ease,-webkit-box-shadow .2s ease
    transition: transform .2s ease,box-shadow .2s ease
    transition: transform .2s ease,box-shadow .2s ease,-webkit-transform .2s ease,-webkit-box-shadow .2s ease

    > a
        padding: 2.4rem 2.8rem 3.2rem