.nav-page,
.nav-home
    > .list
        list-style: none
        margin: 0
        padding: 0 1rem 0

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: 300
            font-size: 1.4rem
            padding: $baseline .5rem
            text-decoration: none

.nav-page
    position: relative
    text-align: center
    /* right: 0 */
    top: 0
    margin-bottom: 2rem

    > .list
        padding: 0 1rem 0
        
        > .item > .link
            font-size: 1.25rem
            @include fluid-type($min_width, $max_width, 1.25rem *$min_font, 1.25rem *$min_font)
            padding: 1rem 0.75rem
            color: $pi
        > .item > a:hover
            background-color: rgba($epsilon, .5)

.nav-home
    margin-top: 3rem
    text-align: center

    > .list
        padding: 0

        > .item > .link
            font-size: 1.5rem
            @include fluid-type($min_width, $max_width, 1.5rem *$min_font, 1.5rem *$min_font)
            padding: .5rem .875rem
            margin: 0
            border-radius: 4%
            transition: all .4s ease-in-out
            /* width: 70px */

            &:hover
                color: $delta
