<!DOCTYPE html>
<html lang="en">
    <head>
        {% if site.analytics-google %}
        {% include analytics-google.html %}
        {% endif %}
        <!-- Claim your website from Pinterest -->
        <meta name="p:domain_verify" content="48b884840784be0ab90ffeb3f3e9bebd"/>
    
        <meta charset="utf-8">
        <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
        <meta name=viewport content="width=device-width, initial-scale=1">
    
        <meta name=description content="{{ site.bio }}">
        <meta name=author content="{{ site.name }}">
    
        {% seo %}
        
        {% include favicon.html %}
    
        <!-- Boostrap core CSS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />
    
        <style>
        {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
        {{ scss_sheet | scssify }}
        </style>
    
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    
    </head>
<body>
    {% include header-design-system.html %}
    
    {{ content }}

    {% include icons.html %}
        
    {% include footer-design-system.html %}
</body>
</html>