---
layout: page-design-system
title: Libraries
isNav: false
---

<h1 class="title text-center py-5">{{ page.title }}</h1>
<br>
<section class="list">
    <div class="container">
        
        {% assign count = 0 %}
        {% for post in site.posts %}
            {% if count == 2 %}
                {% assign count = 0 %}
            {% endif %}
            {% if count == 0 %}                          
        <div class="d-flex flex-fill mb-2">
            {% endif %}
            {% if post.category == 'design-system-list' %}
                {% if post.hidden != true %}        
                {% count | plus: 1.0 %}
            <div class="card bg-light mb-2 w-50 mx-2">
                <img src="{{ post.img-thumb }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted text-uppercase">{{ post.sub-title }}</h6>
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}"
                            class="btn btn-outline-primary">View Details</a>
                </div>
            </div>            
                {% endif %}
            {% endif %}

            {% if count == 0 %}
        </div>
            {% endif %}

        {% endfor %}
        
    </div>
</section>
