---
layout: page-design-system
title: Libraries
isNav: false
---

<h1 class="title">{{ page.title }}</h1>
<section class="list">
    {% for post in site.posts %}
        {% if post.category == 'design-system-list' %}
            {% if post.hidden != true %}
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-sm-12 col-md-6 col-lg-4">
                        <div class="card pd-2">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted">{{ post.sub-title }}</h6>
                              <h5 class="card-title">{{ post.title }}</h5>
                              <p class="card-text">{{ post.description }}</p>
                              <a href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" class="btn btn-outline-primary">View Details</a>                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        {% endif %}
    {% endfor %}
</section>
