---
layout: design-system/page-design-system
title: Good Stories
isNav: false
---

<div class="text-center py-5">
    <h1 class="title text-center">{{ page.title }}</h1>
</div>
<br>

<section class="list">
    <div class="container">
        <div class="card-deck mb-2">
            {% if site.paginate %}
                {% for post in paginator.posts %}
                    {% if post.category == 'good-stories' %}
                        {% if post.hidden != true %}
                        <div class="card bg-light mb-4 mx-2 {% if post.star %}star{% endif %}">
                            <div class="card-body">
                                <a href="{% if post.externalLink %}{{ post.external_url }}{% else %}{{ site.url }}{{ post.url }}{% endif %}" style="text-decoration: none;">                           
                                    <h6 class="card-subtitle mb-2 text-muted text-uppercase">{{ post.author }}</h6>
                                    <h3 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.description }}</p>
                                    <hr>
                                    <time class="text-muted" datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                                </a>
                            </div>                     
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% include pagination.html %}
            {% else %}    
                {% for post in site.posts %}
                    {% if post.category == 'good-stories' %}
                        {% if post.hidden != true %}
                        <div class="card bg-light mb-4 mx-2 {% if post.star %}star{% endif %}">
                            <div class="card-body">
                                <a href="{% if post.externalLink %}{{ post.external_url }}{% else %}{{ site.url }}{{ post.url }}{% endif %} " style="text-decoration: none;">                           
                                    <h6 class="card-subtitle mb-2 text-muted text-uppercase">{{ post.author }}</h6>
                                    <h3 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.description }}</p>
                                    <hr>
                                    <time class="text-muted" datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                                </a>
                            </div>                     
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>   
    </div>
</section>