---
layout: design-system/page-design-system
title: Good Stories
isNav: false
---

<div class="text-center py-5">
    <h1 class="title text-center">{{ page.title }}</h1>
</div>
<br>

<section class="list">
    <div class="container">
    {% if site.paginate %}
		{% for post in paginator.posts %}
		    {% if post.category == 'good-stories' %}
			    {% if post.hidden != true %}
				    <div class="item {% if post.star %}star{% endif %}">
                        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time><br>
                        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">                           
                            <h3 class="title">{{ post.title }}</h3>
                            <aside>{{ post.author }}</aside>
                        </a>
                    </div>
                    <hr>
			    {% endif %}
		    {% endif %}
		{% endfor %}
		{% include pagination.html%}
    {% else %}

        {% for post in site.posts %}
            {% if post.category == 'good-stories' %}
                {% if post.hidden != true %}
                    <div class="item {% if post.star %}star{% endif %}">
                        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time><br>
                        <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">                           
                            <h3 class="title">{{ post.title }}</h3>
                            <aside>{{ post.author }}</aside>
                        </a>
                    </div>
                    <hr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
</section>
