---
layout: design-system/page-design-system
title: Good Stories
isNav: false
---

<div class="container">
<div class="text-center py-5">
    <h1 class="title text-center">{{ page.title }}</h1>
    {% assign tags = site.stories | map: 'tags' | join: ',' | split: ',' | uniq | group_by: tag | sort: 'name' %}
    {% for tag in tags %}
    <a class="item btn" href="{{ site.url }}/tags/#{{ tag.name | slugify }}">{{ tag.name }}</a>
    {% endfor %}
</div>
<br>
</div>
    
<section class="list">
    <div class="container">
        <div class="row">
            {% assign stories = site.stories | reverse %}
            {% if site.paginate %}
                {% for post in paginator.posts %}
                    {% if post.good-stories %}
                        {% if post.hidden != true %}                        
                            <a class="card col-md-4 col-sm-6"
                                href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}"
                                style="text-decoration: none;background-color:transparent;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-uppercase">{{ post.author }}</h6>
                                    <h3 class="card-title">{{ post.title }}</h2>
                                    {{ post.tag }}
                                    <p class="card-text">{{ post.description }}</p>
                                </div>
                                <div class="card-footer" style="background-color:transparent;">
                                    <time class="text-muted"
                                        datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                                </div>
                            </a>   
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% include pagination.html %}
            {% else %}    
                {% for post in stories %}
                        {% if post.hidden != true %}
                            <a class="card col-md-4 col-sm-6"
                                href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}"
                                style="text-decoration: none;background-color:transparent;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted text-uppercase">{{ post.author }}</h6>
                                    <h3 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.description }}</p>
                                    {{ post.tag | join: " - " }}
                                </div>
                                <div class="card-footer" style="background-color:transparent;">
                                    <time class="text-muted"
                                        datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                                </div>
                            </a>
                    {% endif %}
            {% endfor %}
            {% endif %}
            {% assign stories = nil %}
        </div>   
    </div>
</section>
