---
title: Design System
---
<!DOCTYPE html>
<html lang="en">
<head>

    {% if site.analytics-google %}
    {% include analytics-google.html %}
    {% endif %}
    <!-- Claim your website from Pinterest -->
    <meta name="p:domain_verify" content="48b884840784be0ab90ffeb3f3e9bebd"/>

    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <meta name=description content="{{ site.bio }}">
    <meta name=author content="{{ site.name }}">

    {% seo %}
    
    {% include favicon.html %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
    </style>

</head>

<body>
    {% include nav.html %}

    <div class="design-system">
        <div class="columns">
            <div class="column col-2 col-md-3 col-sm-12 sidebar" id="menu">
                <ul class="nav">
                    <li class="nav-item">Test A</li>
                    <li class="nav-item">Test B</li>
                    <li class="nav-item">Test C</li>
                    <li class="nav-item">Test D</li>
                    <li class="nav-item">Test E</li>
                </ul>
            </div>

            <div class="column col-10 col-md3 col-sm-12 sidebar main-content">
                <div class="designs-system-content">
                    TEST TEST TEST
                </div>
            </div>
        </div>
    </div>




    <!-- JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>