$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #484848
$beta: #222
$gama: #aaa
$delta: black
$epsilon: #ededed
$pi: #ad5600

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"

$min_width: 320px
$max_width: 1200px
$min_font: 16px
$max_font: 24px

$baseline: 1.5rem

$h1: 3rem 
$h2: 2.2rem 
$h3: 2rem 
$h4: 1.6rem 
$h5: 1rem

