$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #484848
$beta: #222
$gama: #aaa
$delta: black
$epsilon: #ededed
$pi: #ad5600

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"

$baseline: 1.5rem

$h1: 2rem
$h2: 1.5rem
$h3: 1.25rem
$h4: 1rem
$h5: .875rem

$mod_1: 1.1
$mod_2: 1.3

$min_width: 20rem // 320px
$max_width: 50rem // 1200px
$min_font: 16px // .8rem
$max_font: 24px // 2rem
